<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="bins" params="parent">

    <link name="bin_organic_link">
      <visual><geometry><box size="${bin_length} ${bin_width} ${bin_height}"/></geometry><material name="green"/></visual>
      <collision><geometry><box size="${bin_length} ${bin_width} ${bin_height}"/></geometry></collision>
    </link>

    <link name="bin_inorganic_link">
      <visual><geometry><box size="${bin_length} ${bin_width} ${bin_height}"/></geometry><material name="gray"/></visual>
      <collision><geometry><box size="${bin_length} ${bin_width} ${bin_height}"/></geometry></collision>
    </link>

    <link name="bin_organic_pedestal_link">
      <visual><geometry><cylinder radius="${bin_ped_radius}" length="${bin_ped_height}"/></geometry><material name="gray"/></visual>
      <collision><geometry><cylinder radius="${bin_ped_radius}" length="${bin_ped_height}"/></geometry></collision>
    </link>

    <link name="bin_inorganic_pedestal_link">
      <visual><geometry><cylinder radius="${bin_ped_radius}" length="${bin_ped_height}"/></geometry><material name="gray"/></visual>
      <collision><geometry><cylinder radius="${bin_ped_radius}" length="${bin_ped_height}"/></geometry></collision>
    </link>

    <joint name="bin_organic_pedestal_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="bin_organic_pedestal_link"/>
      <origin xyz="${bin_x} ${bin_y} ${bin_ped_half}" rpy="0 0 0"/>
    </joint>

    <joint name="bin_inorganic_pedestal_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="bin_inorganic_pedestal_link"/>
      <origin xyz="${bin_x} -${bin_y} ${bin_ped_half}" rpy="0 0 0"/>
    </joint>

    <joint name="bin_organic_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="bin_organic_link"/>
      <origin xyz="${bin_x} ${bin_y} ${bin_z}" rpy="0 0 0"/>
    </joint>

    <joint name="bin_inorganic_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="bin_inorganic_link"/>
      <origin xyz="${bin_x} -${bin_y} ${bin_z}" rpy="0 0 0"/>
    </joint>

  </xacro:macro>

</robot>