<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="green_guardian">

  <!-- Includes -->
  <xacro:include filename="$(find robot_description)/urdf/base/base.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/base/wheels.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/base/bins.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/sensors/lidar.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/sensors/depth_camera.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/arm/arm.xacro"/>

  <!-- Base + footprint -->
  <xacro:base/>

  <!-- Wheels -->
  <xacro:wheels/>

  <!-- Sensors -->
  <xacro:lidar parent="base_link"/>
  <xacro:depth_camera parent="base_link"/>

  <!-- Rear bins -->
  <xacro:bins parent="base_link"/>

  <!-- Arm mount (same mount point you had) -->
  <xacro:arm_6dof parent="base_link" prefix="arm_" xyz="0.255 0.0 0.10" rpy="0 0 0"/>

</robot>
