<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="inertial_box" params="m ixx iyy izz">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${m}"/>
      <inertia ixx="${ixx}" ixy="0.0" ixz="0.0"
               iyy="${iyy}" iyz="0.0"
               izz="${izz}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="gg_wheel_link" params="name">
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 1.5708"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <material name="black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 1.5708"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
      </collision>
      <xacro:inertial_box m="0.6" ixx="0.001" iyy="0.001" izz="0.001"/>
    </link>
  </xacro:macro>

</robot>