<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="bin" params="name y material_name">
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><box size="${bin_L} ${bin_W} ${bin_H}"/></geometry>
        <material name="${material_name}"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><box size="${bin_L} ${bin_W} ${bin_H}"/></geometry>
      </collision>
      <inertial>
        <mass value="${bin_mass}"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="${(bin_mass * (bin_W*bin_W + bin_H*bin_H)) / 12}"
                 ixy="0.0"
                 ixz="0.0"
                 iyy="${(bin_mass * (bin_L*bin_L + bin_H*bin_H)) / 12}"
                 iyz="0.0"
                 izz="${(bin_mass * (bin_L*bin_L + bin_W*bin_W)) / 12}"/>
      </inertial>
    </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${name}"/>
      <origin xyz="${bin_x} ${y} ${bin_z}" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

  <xacro:bin name="bin_left_link"  y="${bin_left_y}"  material_name="gg_blue"/>
  <xacro:bin name="bin_right_link" y="${bin_right_y}" material_name="gg_orange"/>

</robot>
